@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:wght@300&family=Quicksand:wght@500;600&family=Raleway:wght@300&family=Tiro+Bangla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}